* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0 15%;
  height: 100px;
  line-height: 75px;
  background-color: #fafafa;
}
.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navbar__brand {
  color: #101010;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

nav .navbar__list {
  display: flex;
}

nav .navbar__list .navbar__list-item {
  cursor: pointer;
  height: 100%;
  padding: 0 30px;
  transition: 0.4s;
}
nav .navbar__list .navbar__list-item:hover {
  background: #b69955;
}
nav .navbar__list .navbar__list-item a {
  color: #101010;
  font-size: 18px;
  font-weight: 500;
}
nav .navbar__toggler {
  display: none;
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;
}

.navbar__btn {
  font-size: 20px;
  text-align: center;
  align-content: center;
  background: #2549d3;
  border-radius: 15px;
  border: 1px solid #b69955;
  outline: none;
  color: #fafafa;
  font-weight: 600;
  padding: 10px;
}
button:hover {
  cursor: pointer;
  color: #2549d3;
  background: #fafafa;
}
nav .navbar__toggler .bar {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background: #2549d3;
  border-radius: 10%;
  transition: 0.4s;
}
#nav__container input {
  display: none;
}

#nav__container input:checked ~ nav .navbar__content {
  transform: translateY(0);
}

#nav__container input:checked ~ nav .navbar__toggler {
  margin-top: 35px;
}
#nav__container input:checked ~ nav .navbar__toggler .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

#nav__container input:checked ~ nav .navbar__toggler .bar:nth-child(2) {
  display: none;
}
#nav__container input:checked ~ nav .navbar__toggler .bar:nth-child(3) {
  transform: rotate(-45deg);
}
/* Media Queries */
@media (max-width: 935px) {
  nav {
    padding: 0 2rem;
  }
  nav .navbar__list .navbar__list-item {
    padding: 0 20px;
  }
}

@media (max-width: 675px) {
  nav .navbar__list {
    display: block;
  }
  nav .navbar__content {
    display: grid;
    justify-content: center;
    position: absolute;
    background: #fafafa;
    width: 100%;
    top: 75px;
    left: 0;
    transform: translateY(-100%);
    z-index: -1;
    transition: 0.6s;
  }

  nav .navbar__list .navbar__list-item {
    padding-left: 35px;
  }

  nav .navbar__toggler {
    display: grid !important;
  }
}
