* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  height: 75px;
  line-height: 75px;
  background: #404040;
}

nav .navbar__brand {
  color: #ffff;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

nav .navbar__list {
  display: flex;
}

nav .navbar__list .navbar__list-item {
  cursor: pointer;
  height: 100%;
  padding: 0 30px;
  transition: 0.4s;
}
nav .navbar__list .navbar__list-item:hover {
  background: #b69955;
}
nav .navbar__list .navbar__list-item a {
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 500;
}
nav .navbar__toggler {
  display: none;
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;
}
nav .navbar__toggler .bar {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 10%;
  transition: 0.4s;
}
input {
  display: none;
}

input:checked ~ nav .navbar__list {
  transform: translateY(0);
}

input:checked ~ nav .navbar__toggler {
  margin-top: 35px;
}
input:checked ~ nav .navbar__toggler .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

input:checked ~ nav .navbar__toggler .bar:nth-child(2) {
  display: none;
}
input:checked ~ nav .navbar__toggler .bar:nth-child(3) {
  transform: rotate(-45deg);
}
/* Media Queries */
@media (max-width: 935px) {
  nav {
    padding: 0 2rem;
  }
  nav .navbar__list .navbar__list-item {
    padding: 0 20px;
  }
}

@media (max-width: 675px) {
  nav .navbar__list {
    display: grid;
    position: absolute;
    background: #404040;
    width: 100%;
    top: 75px;
    left: 0;
    transform: translateY(-100%);
    z-index: -1;
    transition: 0.6s;
  }
  nav .navbar__list .navbar__list-item {
    padding-left: 35px;
  }

  nav .navbar__toggler {
    display: grid !important;
  }
}
